<header>
  <img src="img/watt-now_logo.svg" alt="logo" />
  <ul>
    <li <% if (page === 'home') { %>class="current" <% } %>><a href="/home">home</a></li>
    <li <% if (page === 'dashboard') { %>class="current" <% } %>><a href="/dasboard">dashboard</a></li>
    <li><a href="/logout">logout</a></li>
  </ul>
</header>
