<header>
  <img src="img/logo.png" alt="logo" />
  <ul>
    <li><a href="/home">home</a></li>
    <li><a href="/dasboard">dashboard</a></li>
    <li><a href="/logout">logout</a></li>
  </ul>
</header>
