/* ==========================================================================
   Form Layout
   ========================================================================== */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

form {
  background-color: #5C637A;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-radius: .5em;
  min-width: 20em;
}

label {
  line-height: 4;
  color: #fff;
}

button {
  margin: 2em 0em;
}

a {
  opacity: 0.7;
  transition: 0.2s;
}

a:hover {
  opacity: 1;
}
