body {
  padding: 0 25px;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 85%;
  max-width: 850px
}

ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  padding-left: 60px;
  background: #5C637A;
  color: #F8F9FB;
}

ul span:not(:first-of-type) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul span:first-of-type {
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 45px;
  height: 45px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

ul span:nth-of-type(2) {
  text-transform: capitalize;
}
