<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="css/pages/dashboard.css">
    <title>Dashboard</title>
  </head>
  <%- include ../partials/header -%>
  <body>

  </body>
  <%- include ../partials/footer -%>
</html>
