<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="css/pages/form.css">
    <title>Login</title>
  </head>

  <body>
    <img src="img/watt-now_logo_blue.svg">
    <form action="post">
      <label for="companyName">Food Truck</label>
      <input type="text" id="companyName" placeholder="Naam food truck">
      <button formaction="/login" type="submit" name="login" value="login">Log in</button>
      <a href="/register">Register</a>
    </form>
  </body>
</html>
