<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="pages/form.css">
    <title>Login</title>
  </head>

  <body>
    <form action="">
      <label for="companyName">Food Truck</label>
      <input type="text" id="companyName" placeholder="Naam food truck">
      <button type="submit" name="login" value"login">Log in</button>
      <a href="/register">Register</a>
    </form>
  </body>

</html>
