<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="css/pages/register.css">
    <title>Register</title>
  </head>

  <body>
    <img src="img/watt-now_logo_blue.svg">
    <h1>Register</h1>
    <form method="post" action="/register">
      <label for="companyName">Please enter the name of your Food Truck</label>
      <input name="username" type="text" id="companyName" placeholder="Name">
      <button type="submit" value="register">Register</button>
    </form>
  </body>

</html>
