<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <link rel="stylesheet" type="text/css" href="css/pages/subscription.css">
    <title>Subscription</title>
  </head>

  <body>
    <%- include ../partials/header -%>
    <main>

    </main>
    <%- include ../partials/footer -%>
  </body>
</html>
